@font-face {
    font-family: ethnocentric;
    src: url('/fonts/ethnocentric.ttf');
}

html, body{
    height: 100vh;
}

body{
    background-color: #ebebeb;
}

p, h1, h2, .btn, .btn-active, .my-menu, .my-row {
    margin: 3vh 3vh 3vh 3vh;
}

h1{
    font-family: ethnocentric;
    color: royalblue;
    font-size: 7vh;
}

hr{
    margin-left: 3vh;
    margin-right: 3vh;
}

img{
    margin: 0 auto;
    width: 97vw;

}

#rectangular {
    border-radius: 1vh;
}

.my-menu{
    color: royalblue;
    font-family: ethnocentric;
    text-shadow:  3px 3px 5px #888888;;
    font-size: 5vh;
    position: absolute;
    top: 0;
    width: 37vw;
    height: 94vh;
    background-color: #cccccc;
}

.my-row{
    text-align: center;
}

.jumbotron{
    background-color: royalblue;
    border-radius: 1vh;
    display: inline-block;
    margin: 1vh 3vh 1vh 3vh;
    padding: 0vh 0vh 0vh 0vh;
}

.jumbotron>p{
    margin: 3vh 3vh 3vh 3vh;
}

.from-left.ng-enter, .from-left.ng-leave.ng-leave-active{
    transition: 0.5s linear all;
    transform: translateX(-40vw);
}
.from-left.ng-enter.ng-enter-active, .from-left.ng-leave{
    transition: 0.5s linear all;
    transform: translateX(0vw);
}

.stay-right{
    transform: translateX(40vw);
    transition: 0.5s linear all;
}
.stay-left {
    transition: 0.5s linear all;
    transform: translateX(0vw);
}

#black{
    background-color: #080808;
    margin: 0vh 3vh 0vh 3vh;
    padding: 3vh 3vh 3vh 3vh;
    border-radius: 1vh;
}
#site-title{
    text-align: center;
    text-shadow: 3px 3px 5px #888888;
}
