p, h1, h2, .main, .btn, .btn-active, .my-menu {
    margin: 3% 3% 3% 3%;
}

/*.btn{
    margin: 3% 3% 3% 3%;
}*/

.my-menu{
    color: red;
    position: absolute;
    top: 0;
    width: 40vw;
    height: 100vh;
    background-color: #cccccc;
}
.main{
    background-color: #080808;
}

.from-left.ng-enter{
    transition:0.5s linear all;
    transform: translateX(-40vw);
}
.from-left.ng-enter.ng-enter-active{
    transition:0.5s linear all;
    transform: translateX(0vw);
}

.from-left.ng-leave{
    transition:0.5s linear all;
    transform: translateX(0vw);
}

.from-left.ng-leave.ng-leave-active{
    transition:0.5s linear all;
    transform: translateX(-40vw);
}



.stay-right{
    transform: translateX(40vw);
    transition:0.5s linear all;
}
.stay-left {
    transition:0.5s linear all;
    transform: translateX(0vw);
}

/*

/!* The starting CSS styles for the enter animation *!/
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
    transform:translateY(-100px);
}

/!* The finishing CSS styles for the enter animation *!/
.fade.ng-enter.ng-enter-active {
    opacity:1;
    transform:translateY(0);
}

.highlight {
    transition:0.5s linear all;
}
.highlight.on-add {
    background:white;
}
.highlight.on {
    background:yellow;
}
.highlight.on-remove {
    background:black;
}

.slide.ng-enter {
    transition:0.5s linear all;
    transform:translateY(-100px);
}
.slide.ng-enter.ng-enter-active {
    transform:translateY(0);
}*/
