body, p, h1, h2, .btn .btn-active{
    margin: 3% 3% 3% 3%;
}

.btn{
    margin: 3% 3% 3% 3%;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}