<div class="container">
    <div class="col-md-offset-3">
        <p>Info about pricing here</p>
        <p>
            We take a lot of pride in providing
            consistent training in volleyball and character, and providing it at a competitive price.
            This year will cost a bit more than past years.
        </p>

        <h2>Premier</h2>
        <p>$1650</p>
        <ul class="list-group">
            <li class="list-group-item">7 local tournaments</li>
            <li class="list-group-item">2 x 2-hour practices per week</li>
            <li class="list-group-item">Uniform package:
                <ul class="list-group">
                    <li class="list-group-item">2 jerseys</li>
                    <li class="list-group-item">1 spandex</li>
                    <li class="list-group-item">Warmups (top and bottom)</li>
                    <li class="list-group-item">Warm up shirt</li>
                </ul>
            </li>

        </ul>
        <h2>Competitive</h2>
        <p>$1450</p>
        <ul class="list-group">
            <li class="list-group-item">6 local tournaments</li>
            <li class="list-group-item">2 x 2-hour practices per week</li>
            <li class="list-group-item">Uniform package:
                <ul class="list-group">
                    <li class="list-group-item">2 jerseys</li>
                    <li class="list-group-item">1 spandex</li>
                    <li class="list-group-item">Warmups (top)</li>
                    <li class="list-group-item">Warm up shirt</li>
                </ul>
            </li>

        </ul>

        <p>
            Few other clubs post their pricing on their website.  We've included ours and what you get for it, as well as
            costs of other clubs, so you can compare.  Most clubs below don't pay rent for their facilities, and rent
            is approximately 40% of our annual expenses.
        </p>

        <ul>
            <li><a href="http://www.southernutahvolleyball.com/2015/2016-Tentative-Season-Costs.pdf">SUVA</a></li>
            <li><a href="http://www.clubutahvb.com/#!club-utah-volleyball-pricing/cxbl">Club Utah</a></li>
            <li><a href="http://www.utahviper.org/fees.html">Utah Viper (Provo HS club)</a></li>
        </ul>

        <p>
            Aces and Club V do not list their prices on their website.
        </p>
    </div>

</div>